<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Dados</title>
    <link rel="stylesheet" href="../static/styles/atualizarDadosIniciais.css">
</head>

<body>
    <div class="btn-voltar">
        <button onclick="window.history.back()"><img src="https://www.svgrepo.com/show/324205/back-arrow-navigation.svg"
                alt=""></button>
    </div>
    <main>

        <div class="titulo">
            <h2>Atualizar Dados Iniciais</h2>
        </div>

        <div class="container-principal">
            <div class="formulario">
                <form action="{{ url_for('atualizar_dados_iniciais') }}" method="POST">
                        <input type="tel" id="telefone" name="telefone" oninput="formatPhone()" required placeholder="*Telefone">
                        <input type="email" id="email" name="email" required placeholder="*E-mail">
                        <input type="password" id="senha" name="senha" required placeholder="*Senha">
                        <button type="submit">Atualizar Dados</button>
                </form>
            </div>
        </div>

    </main>

    <script src="../static/js/atualizar_dados_iniciai.js" defer></script>
</body>

</html>