{% extends "modelo.html" %}
{% block conteudo %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>
<link rel="stylesheet" href="../static/styles/cad-produto.css">
    <main>
        <div class="btn-voltar">
            <button onclick="window.history.back()"><img
                    src="https://www.svgrepo.com/show/324205/back-arrow-navigation.svg" alt=""></button>
        </div>
        
        <form action="/inserir_produto" method="post" enctype="multipart/form-data">
            <div class="espacamento1"></div>
            <h2>Adicione um produto!</h2>
            <input name="nome" type="text" id="nome" placeholder="Nome do produto" required>
            <input name="descricao" type="tel" id="descricao" placeholder="Descrição" required>
            <select id="categoria" name="categoria" required>
                <option disabled selected value="">Categoria</option>
                {% for registro in categorias %}
                <option value="{{ registro.id_categoria }}">{{ registro.nome }}</option>
                {% endfor %}
            </select>
            <input name="preco" type="text" id="preco" placeholder="Preço" required>
            <input name="estocado" type="text" id="estocado" placeholder="Estocado" required>
            <select id="fornecedor" name="fornecedor" required>
                <option disabled selected value="">Fornecedor</option>
                {% for registro in fornecedores %}
                <option value="{{ registro.id_fornecedor }}">{{ registro.nome }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn-Cadastrar">Adicionar</button>
        </form>
    </main>
{% endblock %}