{% extends "modelo.html" %}
{% block conteudo %}
<!-- CSS do Select2 -->
<!-- Carregar jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Carregar Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

<link rel="stylesheet" href="../static/styles/compra.css">

<!-- Seu script -->
<script src="../static/js/compra.js" defer></script>


<header>
    <h1>Registrar Compra</h1>
</header>
<main>
    <form id="form-compra">
        <!-- Nome do cliente (exibido somente se o pagamento for fiado) -->
        <section class="nome-cliente-section" style="display:none;">
            <select id="cliente" name="cliente" style="width: 100%;">
                <option value="" disabled selected>Selecione um cliente</option>
                {% for registro in lista_clientes %}
                <option value="{{ registro.id_cliente }}" data-saldo="{{ registro.saldo }}">{{ registro.nome }}</option>
                {% endfor %}
            </select>
        </section>

        <!-- Adicionar produtos -->
        <section class="produtos-section">
            <h2>Produtos</h2>
            <div class="produto-adicionar">
                <label for="produto">Produto:</label>
                <select id="produto" name="produto" style="width: 100%;">
                    <option value="" disabled selected>Pesquise ou selecione um produto</option>
                    {% for registro in lista_select_produtos %}
                    <option value="{{ registro.id_produto }}" data-preco="{{ registro.preco }}"
                        data-preco-kilo="{{ registro.preco_por_kilo }}" data-vendido-kilo="{{ registro.vendido_kilo }}">
                        {{ registro.nome }}
                        -
                        {% if registro.vendido_kilo == 1 %}
                        R$ {{ registro.preco_por_kilo }} Kg
                        {% else %}
                        R$ {{ registro.preco }} unidade
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>

                <label for="quantidade">Quantidade:</label>
                <div id="quantidade-container">
                    <input type="number" id="quantidade" name="quantidade" min="1" placeholder="0">
                </div>

                <button type="button" id="adicionar-produto">Adicionar</button>
            </div>
            <table id="tabela-produtos">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Total</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Os produtos adicionados aparecerão aqui -->
                </tbody>
            </table>
        </section>

        <!-- Total da compra -->
        <section class="total-section">
            <h2>Total: R$ <span id="total-compra">0.00</span></h2>
        </section>

        <!-- Tipo de pagamento -->
        <section class="pagamento-section">
            <label for="tipo-pagamento">Tipo de Pagamento:</label>
            <select id="tipo-pagamento" name="tipo-pagamento" required>
                <option value="" disabled selected>Selecione o tipo</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Cartão">Cartão</option>
                <option value="Pix">Pix</option>
                <option value="Fiado">Fiado</option>
            </select>
        </section>

        <button type="submit" id="finalizar-compra">Finalizar Compra</button>
    </form>
</main>
{% endblock %}