{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/gerenciar_cadastros.css">

<header>
    <h1>Gerenciar Pedidos de Cadastro</h1>
</header>

<main class="cadastros-container">
    <h2>Solicitações Pendentes</h2>
    <ul class="cadastro-lista">
        {% for registro in usuarios %}
        <li class="cadastro-item">
            <p>Nome: <strong>{{ registro.nome }}</strong></p>
            <p>Função: {{ registro.tipo }}</p>
            <form action="/gerenciar_cadastros" class="botoes" method="post">
                <input type="hidden" name="id_usuario" value="{{ registro.id_usuario }}">
                <button type="submit" name="acao" value="aceitar" class="aceitar-btn">Aceitar</button>
                <button type="submit" name="acao" value="recusar" class="recusar-btn">Recusar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}